include ./header.pug

article
  //- main content

  section
    each article in prismicDocs
      article 
        if !single
          h3
            a(href='/blog/' + article.uid)= article.title
          p= article.data
        else
          h3= article.uid
          p= text
        p= article.slug
