doctype html(lang='en')

html
  head
    if title
      title #{title} - fomtirth
    else
      title Welcome to fomtirth
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style
      include /public/stylesheets/default.css
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W45RRM2');
  body
    block content
      header
        h1 
          a(href='/') fomtirth
        form(method='POST' action='/')
          input#nameInput(type='text', placeholder='Search for articles, games, code and other stuff' 
          name='search' autofocus='true' onkeyup='changeInput(this.value)' list='hugeList')
          datalist#hugeList
            each option in searchCache
              option(value=option)
        <div id="result"></div>
